#header {
    width: 680px;
    margin-left: 50px;
}

#container {
    width: 800px;
}

#list-div {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#list-div>div{
    border: 5px solid black;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 125px;
    height: 125px;
    overflow: hidden;
    text-indent: -400px;
}

#list-div>div.visible {
    transition: transform 1s;
    text-indent: inherit;
    transform: rotateY(180deg);
}

#list-div>div.locked {
    text-indent: inherit;
    transition: transform 1s;
    transform: rotateY(180deg);
    background-color: red;
}


#img {
    padding-top: 25px;
    width: 80px;
    height: 80px;
}