#header {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    padding-left: 25px;
    background-color: black;
    color: ivory;
    height: 120px;
    font-size: 20px;
}


.nav .button {
    background: none;
    border: none;
    color: ivory;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 30px;
    padding-top: 20px;
}
.nav .sepLine {
    text-align: center;
    font-size: 50px;
}

.nav .button:hover {
    color: limegreen;
}

.nav .rightSide {
    padding-left: 20px;
}

.dropbtn {
    background: none;
    border: none;
    color: ivory;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 30px;
    padding-top: 20px;
}

.changeLevel {
    position: relative;
    display: inline-block;
}

.levels {
    display: none;
    position: absolute;
    background-color: lightgrey;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.levels a {
    color: black;
    padding: 16px 20px;
    text-decoration: none;
    display: block;
}

.levels a:hover{
    background-color: rgb(197, 187, 187);
}

.changeLevel:hover .levels {
    transition-timing-function: ease-in-out;
    display: block;
}

.changeLevel:hover .dropbtn {
    color:limegreen;
}

#score {
    color: ivory;
    padding: 0.5rem;
    font-size: 25px;
    padding-top: 20px;
}

#container {
    margin:auto;
    padding-top: 20px;
    width: 800px;
}

#list-div {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#list-div>div{
    border: 5px solid black;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 125px;
    height: 125px;
    overflow: hidden;
    text-indent: -400px;
    background-image: url('./imgs/music.png');
    background-color: lemonchiffon;
    cursor: pointer;
}
#list-div>div:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#list-div>div.flip {
    transform-style: preserve-3d;
    transition: .6s ease-in-out;
    text-indent: inherit;
    transform: rotateY(180deg);
    background-image: unset;
    background-color: teal;
}

#list-div>div.matched {
    text-indent: inherit;
    background-image: unset;
    transition: transform 1s;
    transform: rotateY(180deg);
    background-color: rgb(180, 25, 25);
    box-shadow: none;
}


.img {
    padding-top: 25px;
    width: 80px;
    height: 80px;
}